<ul class="submenu">
    <li n:if="$user->isAllowed($presenter->getNameSimple(), 'default')"><a n:href="default" n:class="$presenter->getAction() == 'default' ? active">{_'translate.summary'}</a></li>
</ul>
<div class="clearfix"></div>